[push]
	default = current
[user]
	name = Mike Du Russel
	email = mdurussel@squarespace.com
[diff]
	compactionHeuristic = true
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	editor = /usr/bin/vim
[color "diff-highlight"]
	oldNormal = "red bold #300000"
	oldHighlight = "red bold #700000"
	newNormal = "green bold #003000"
	newHighlight = "green bold #007000"
[color "diff"]
	new = "green bold #003000"
	old = "red bold #300000"
